.container{
    max-height: 100vh;
    width: 100vw;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #7c7575f1;
    padding: 0px 16px;
    top: 0;
    position: fixed;
    z-index: 9;
}

.title_logo{
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
}

.icon_logo{
    position: relative;
    font-size: 24px;
    top: 16px;
    width: 24px;
    height: 32px;
}

.title_navbar{
    color: #030303;
    font-size: 24px;
    font-family: "Open Sans";
    line-height: 28px;
}

.search_hide{
    display: none;
}

.search{
    display: block;
}


.input_search{
    margin-top: 17px;
    width: 400px;
    height: 38px;
    padding: 0px 8px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    color: #94a3b8;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 38px;
    outline: none;
}

.input_search_hide{
    display: none;
}

.icon_navbar{
    display: flex;
    align-items: center;
    margin-right: 150px;
    gap: 16px;
}

.icon_bell{
    cursor: pointer;
    position: relative;
    border: none;
    background-color: none;
    font-size: 18px;
    width: 18px;
    height: 28px;
}

.button_user{
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 19px;
    height: 28px;
    gap: 10px;
}

.icon_user{
    position: relative;
    width: 19px;
    height: 28px;
}

.avt_user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name_user{
    font-size: 14px;
}

.manage_user_hide{
    display: none;
}

.manage_user_show{
    display: block;
    position: absolute;
    top: -330%; /* Đặt dropdown ngay dưới user */
    left: 82%; /* Căn giữa theo tên user */
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-top: 270px;
    margin-left: 10px;
    padding-top: 10px;
}

.link{
    height: 120px;
}

.edit_profile,
.dashboard,
.post_management{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #030303;
    padding: 0 15px;
    height: 30px;
    border-bottom: 1px solid gainsboro;
    transition: all 0.3s ease;
}

.post_management,
.dashboard{
    margin-top: 10px;
}

.edit_profile_hide,
.dashboard_hide{
    display: none;
}

.edit_profile:hover,
.post_management:hover,
.dashboard:hover{
    color: #816161;
}

.icon_edit_profile,
.icon_dashboard{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

.btn_signout{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    color: #ffffff;
    height: 35px;
    margin-top: 30px;
    margin-left: 100px;
}

.icon_signout{
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -10px;
}