.container{
    max-height: 100vh;
    width: 100vw;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #7c7575f1;
    padding: 0px 16px;
    top: 0;
    position: fixed;
    z-index: 9;
}

.title_logo{
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
}

.icon_logo{
    position: relative;
    font-size: 24px;
    top: 16px;
    width: 24px;
    height: 32px;
}

.title_navbar{
    color: #030303;
    font-size: 24px;
    font-family: "Open Sans";
    line-height: 28px;
}

.search_hide{
    visibility: hidden;
}

.search{
    display: block;
}


.input_search{
    position: relative;
    margin-top: 17px;
    width: 400px;
    height: 38px;
    padding: 0px 8px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    color: #94a3b8;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 38px;
    outline: none;
}

.input_search_hide{
    display: none;
}

.btn_search{
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: -40px;
    padding-top: 5px;
    margin-top: 17px;
}

.btn_search_hide{
    display: none;
}

.icon_navbar{
    display: flex;
    align-items: center;
    margin-right: 150px;
    gap: 16px;
}

.icon_bell{
    cursor: pointer;
    position: relative;
    border: none;
    background-color: none;
    font-size: 18px;
    width: 18px;
    height: 28px;
}

.button_user{
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 19px;
    height: 28px;
    gap: 10px;
}

.icon_user{
    position: relative;
    width: 19px;
    height: 28px;
}

.avt_user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name_user{
    font-size: 14px;
}

.manage_user_hide{
    display: none;
}

.manage_user_show{
    display: block;
    position: absolute;
    top: -330%; 
    left: 82%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 5px;
    width: 200px;
    /* height: 170px; */
    margin-top: 270px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link{
    height: 60px;
}

.link_nav{
    display: flex;
    gap: 30px;
}

.post_management,
.post_management_current,
.dashboard,
.dashboard_current,
.upgrade_package,
.upgrade_package_current,
.content_generator,
.content_generator_current{
    margin-top: 20px;
}

.edit_profile_hide,
.dashboard_hide{
    display: none;
}

.post_management,
.post_management_current,
.dashboard,
.dashboard_current,
.upgrade_package,
.upgrade_package_current,
.content_generator,
.content_generator_current{
    position: relative;
    display: inline-block;
    top: -10px;
    text-decoration: none;
    color: #030303;
    height: 30px;
}

.upgrade_package_current::after,
.content_generator_current::after,
.post_management_current::after,
.dashboard_current::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}

.post_management::after,
.dashboard::after,
.upgrade_package::after,
.content_generator::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.4s ease-out;
}

.post_management:hover::after,
.dashboard:hover::after,
.upgrade_package:hover::after,
.content_generator:hover::after{
    width: 100%;
}

.edit_profile,
.change_password{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #030303;
    padding: 0 15px;
    height: 30px;
    border-bottom: 1px solid gainsboro;
    transition: all 0.3s ease;
}

.change_password{
    margin-top: 10px;
}

.icon_edit_profile,
.icon_dashboard{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

.btn_signout,
.btn_signout_gmail{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 35px;
    margin-top: 50px;
    margin-left: 80px;
}

.btn_signout_gmail{
    margin-top: 0;
}

.icon_signout{
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -10px;
}