.container_new_user{
    position: relative;
    background-color: rgba(0, 115, 255, 0.15);
    width: 100vw;
    height: 100vh;
    top: 0;
}

.container,
.container_enter_code{
    position: absolute;
    width: 600px;
    height: 350px;
    box-shadow: 1px 1px 4px grey;
    border-radius: 10px;
    margin-left: 380px;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
}

.container_enter_code{
    height: 300px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    display: block;
}


.form_group{
    display: flex;
    margin: 40px 90px;
}

.label{
    display: block;
    width:60px;
}

.input{
    width: 300px;
    margin-left: 50px;
    height: 30px;
    padding-left: 10px;
}

.btn_group{
    display: flex;
    margin: 80px 130px;
    gap: 200px;
}

.btn_cancel{
    background-color: rgb(161, 163, 164);
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn_add{
    border: none;
    background-color: rgba(0, 110, 255, 0.882);
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}