.content{
    display: flex;
}

.sidebar{
    margin-top: 80px;
    width: 250px;
    height: 624px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding-left: 16px;
    padding-top: 16px;
}

.dashboard,
.users,
.posts,
.analytics,
.settings{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 20px;
    color: #000;
    text-decoration: none;
}

.container_text_analytics{
    position: relative;
}

.dashboard{
    margin-top: 10px;
}

.text_analytics{
    display: inline-block;
}

.text_analytics::after{
    position: absolute;
    content: "";
    border: 1px solid rgb(223, 223, 223);
    width: 100%;
    top: 50px;
    left: 0px;
}
.users,
.posts,
.analytics,
.settings{
    margin-top: 18px;
}

.icon_dashboard,
.icon_users,
.icon_posts,
.icon_analytics,
.icon_settings{
    position: relative;
    width: 20px;
    height: 20px;
    color: #000;
}

.text_dashboard,
.text_users,
.text_posts,
.text_analytics,
.text_settings{
    color: #030303;
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 19px;
    margin-top: 30px;
}

.section{
    margin: 50px;
    margin-top: 80px;
}

.title_page{
    font-size: 34px;
    font-weight: 700;
}

.select_time{
    width: 80px;
    height: 30px;
    margin-left: 10px;
}

.statistic{
    position: relative;
    width: 1000px;
}

.btn_export,
.btn_export_list{
    cursor: pointer;
    float: right;
    border: none;
    padding: 5px 10px;
    background-color: #43adea;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 0 #69b6e2ba;
}

.btn_export_list{
    margin-right: 30px;
    background-color: #33d554;
    box-shadow: 2px 4px 4px 0 #69e26fba;
}

.list_statistics{
    margin-top: 50px;
}

.title_list_statistics{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.tablerow{
    text-align: center;
}

.tablecell{
    width: 244px;
    height: 30px;
    box-shadow: 0px 4px 4px rgb(79, 142, 79);
}

.title_tablecell{
    font-weight: bold;
    background-color: #edf7ef;
    border: none;
}