.content{
    display: flex;
}

.sidebar{
    margin-top: 65px;
    width: 250px;
    height: 624px;
    background-color: var(--second-color);
    box-shadow: 0px 4px 6px var(--primary-color);
    padding-top: 16px;
}

.dashboard,
.users,
.posts,
.analytics,
.settings{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    text-decoration: none;
    color: #000;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 10px;
} 

.users,
.posts,
.analytics,
.settings{
    margin-top: 18px;
}

.icon_dashboard,
.icon_users,
.icon_posts,
.icon_analytics,
.icon_settings{
    position: relative;
    width: 20px;
    height: 20px;
}

.text_dashboard,
.text_users,
.text_posts,
.text_analytics,
.text_settings{
    color: #030303;
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 19px;
    margin-top: 20px;
}

.container_text_dashboard{
    position: relative;
}

.dashboard{
    margin-top: 10px;
}

.analytics{
    background-color: var(--primary-color);
    color: #fff;
}

.dashboard:hover,
.dashboard:hover .text_dashboard,
.posts:hover,
.posts:hover .text_posts,
.users:hover,
.users:hover .text_users,
.settings:hover,
.settings:hover .text_settings{
    background-color: var(--primary-color);
    color: #fff;
}

.text_analytics{
    display: inline-block;
    color: #fff;
}

.section{
    margin-top: -20px;
    margin-left: 0px;
}

.title_page{
    font-size: 34px;
    font-weight: 700;
}

.select_time{
    width: 200px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px var(--primary-color);
    padding-left: 15px;
}

.statistic{
    position: relative;
    width: 1000px;
}

.btn_export,
.btn_export_list{
    cursor: pointer;
    float: right;
    border: none;
    padding: 5px 10px;
    background-color: #33d554;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 0 #69e26fba;
    width: 150px;
    height: 35px;
}

.btn_export_list{
    margin-right: 30px;
    background-color: var(--primary-color);
    box-shadow: 2px 4px 4px 0 var(--second-color);
}


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.list_statistics{
    margin-top: 50px;
}

.title_list_statistics{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.tablerow{
    text-align: center;
}

.tablecell{
    width: 244px;
    height: 30px;
    box-shadow: 0px 4px 4px var(--primary-color);
}

.title_tablecell{
    font-weight: bold;
    background-color: var(--second-color);
    border: none;
}