.container{
    display: flex;
    margin-top: 40px;
}

.img_main{
    position: relative;
    top: 0px;
    left: 0px;
    width: 777px;
    height: 680px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content,
.form{
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow: visible;
    margin-top: 10px;
}

.form{
    margin-top: 0;
}

.content_verify{
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow: visible;
    margin-top: 100px;
}

.title{
    display: flex;
    flex-direction: row;
    white-space: none;
    overflow: visible;
    margin-left: 200px;
    margin-top: 10%;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

.img_sub{
    position: relative;
    width: 30px;
    height: 36px;
}

.text_main{
    color: #030303;
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 43px;
}

.label,
.label_confirm_password{
    color: #030303;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 140px;
}

.label_confirm_password{
    margin-top: 0;
}

.input,
.input_password,
.input_confirm {
    margin-left: 140px;
    width: 400px;
    padding: 0px 8px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    color: #94a3b8;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 46px;
    outline: none;
    margin-top: 40px;
}

.input:first-child{
    margin-top: 10px;
}

.input_password{
    position: relative;
    /* margin-top: 140px; */
}

.input_confirm{
    margin-top: 20px;
}

.toggle_button_password,
.toggle_button_confirm_password{
    position: relative;
    width: 35px;
    margin: auto;
    background-color: transparent;
    border: none;
    top: -35px;
    left: 250px;
}

.eye_password,
.eye_confirm_password{
    position: relative;
    width: 20px;
    height: 20px;
}

.buttonRegister {
    margin-left: 140px;
    margin-top: 20px;
    cursor: pointer;
    width: 400px;
    height: 44px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 16px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 .login{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    margin-left: 140px;
    align-items: center;
 } 

 .text_login {
    color: #030303;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 16px;
  }
  
  .btn_login {
    color: var(--primary-color);
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 600;
    line-height: 16px;
  }

  .form_group{
    display: flex;
    flex-direction: column;
  }

  .div_resend_code{
    float: right;
    margin-left: 180px;
}

  .btn_resend_code{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-left: -200px;
    margin-top: 10px;
}
  
  .btn_group{
    display: flex;
    margin-left: 150px;
    margin-top: 40px;
    /* gap: 150px; */
    /* padding-left: 30px; */
  }

  .btn_cancel{
    background-color: rgb(161, 163, 164);
    text-decoration: none;
    /* padding: 5px 15px; */
    width: 100px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

.btn_add{
    border: none;
    background-color: rgba(0, 110, 255, 0.882);
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 60px;
}