
.content{
    display: flex;
    margin-top: 15px;
    margin-left: 250px;
}

.sidebar{
    margin-left: -5px;
    width: 250px;
    height: 90vh;
    box-shadow: 0px 0px 4px grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--second-color);
}

.sidebar_name_user{
    text-align: center;
    margin-top: 30px;
}

.sidebar_account_manage{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -20px;
    padding: 16px 24px;
}

.icon_account_manage{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

.sidebar_edit_profile,
.sidebar_change_password{
    text-decoration: none;
    display: flex;
    color: #000;
    height: 30px;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    padding-left: 60px;
    border-radius: 10px;
    margin: 0 10px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.sidebar_edit_profile{
    margin-top: -10px;
    color: #fff;
}

.sidebar_edit_profile{
    background-color: var(--primary-color);
}

.sidebar_change_password:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.section{
    margin-left: 100px;
    margin-top: -10px;
    width: 950px;
    box-shadow: 0px 0px 4px grey;
    border-radius: 10px;
}

.title_section{
    margin-top: 34px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
}

.section_link{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.section_change_password,
.section_edit_profile{
    color: #000;
    text-decoration: none;
    width: 450px;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
}

.section_change_password{
    color: #000;
    background-color: var(--second-color);
}

.title_link{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
}

.form{
    text-align: center;
}

.label,
.label_avt{
    display: flex;
    align-items: center;
    gap:5px;
    margin-left: 250px;
    margin-top: 20px;
}

.label_avt{
    margin-top: 80px;
}

.icon_start{
    color: red;
}

.choose_avt{
    margin-left: 270px;
    margin-top: 0px;
}

.upload_avt_div{
    height: 100px;
}

.upload_avt{
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 350px;
    margin-top: -50px;
}

.button_close_img{
    position: relative;
    /* margin-left: 2000px; */
    left: 500px;
    top: -20px;
}

.avt_user{
    width: 150px;
    height: 150px;
    margin-left: 350px;
    margin-top: -170px;
    margin-bottom: 50px;
}

.input{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px rgb(228, 227, 227);
    border: none;
    padding-left: 20px;
    margin-left: 270px;
    margin-top: 10px;
}

.avt{
    margin-top: -30px;
}

.name,
.user_name{
    margin-top: 10px;
}

.section_btn{
    margin-top: 30px;
    text-align: center;
}

.btn_save{
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0px;
    margin-bottom: 20px;
}

.enter_code{
    height: 300px;
}

.code{
    margin-top: 100px;
}

.btn_group{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 150px;
}

.btn_cancel{
    background-color: rgb(161, 163, 164);
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
}

.btn_update{
    border: none;
    background-color: var(--primary-color);
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 40px;
}
